- if resource.errors.any?
  #error_explanation{"data-turbo-cache" => "false", class: "mb-6 p-5 rounded-xl border bg-white border-[#e23b4a]/20"}
    .flex.items-center.gap-2.5.mb-3
      .shrink-0
        = lucide_icon("triangle-alert", class: "h-4 w-4 text-[#e23b4a]")

      %h2.font-medium.tracking-wide.leading-snug.text-xs{class: "text-[#e23b4a]"}
        = I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: devise_i18n_fix_model_name_case(resource.model_name.human, i18n_key: 'errors.messages.not_saved'))

    %ul.flex.flex-col.gap-1.5.pl-6
      - resource.errors.full_messages.each do |message|
        %li.text-sm.list-disc.list-outside{class: "text-[#505a63] marker:text-[#e23b4a]"}
          = message
