@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  font-display: fallback;
}

/* Images should be responsive */
img {
  max-width: 100%;
  height: auto;
}

@layer base {
  ul {
    @apply list-disc list-inside
  }

  ol {
    @apply list-decimal list-inside
  }
}
