@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

/* Images should be responsive */
img {
  max-width: 100%;
  height: auto;
}

@layer base {
  ul {
    @apply list-disc list-inside
  }

  ol {
    @apply list-decimal list-inside
  }
}

button {
  @apply cursor-pointer;
}

/* Dark theme for code blocks */
:where(.lexxy-content) {
  code, pre {
    --lexxy-color-code-token-att: #f92672;
    --lexxy-color-code-token-comment: #75715e;
    --lexxy-color-code-token-function: #a6e22e;
    --lexxy-color-code-token-operator: #f92672;
    --lexxy-color-code-token-property: #66d9e8;
    --lexxy-color-code-token-punctuation: #f8f8f2;
    --lexxy-color-code-token-selector: #e6db74;
    --lexxy-color-code-token-variable: #fd971f;
    background-color: #272822 !important;
    color: #f8f8f2 !important;
  }
}
